:root {
    --title-color :#212121 ;
    --text-color:#757575 ;
    --logo-text: #000000 ;
    --white-bgc: #FFFFFF ;
    --bgc-hero-title: #2F303A ;
    --bgc-color:#F5F5F5 ;
    --bgc-comands : #F5F4FA;
    --Blue-color: #2196F3;
    --bgc-btn-act:#188CE8 ;
    --color-adrsf:  rgba(255, 255, 255, 0.6);
    --portfolio-overlay:rgba(33, 150, 243, 0.9);
    --transition-dur-n-fuc: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --icon-btn-border: rgba(0, 0, 0, 0.1);
    --input-border-color:rgba(33, 33, 33, 0.2);
}

/* Roboto 400 . 500. 700 . 900/ relawey 700*/

/* Тіло */
body {
    background-color: var(--white-bgc);
    color: var(--title-color);
    

    font-family: Roboto , sans-serif ;
    
}

.list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item1 {
    margin-right: 30px;
}
 .item1:last-child {
    margin-right: 0%;
}

a {
    text-decoration: none;
}

.section {
    padding-top: 94px ;
    padding-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space:nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: -1px;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
   
  }

.section:nth-child(3) {
    padding-top: 0;
}

img {
display:block; 
max-width: 100%;
height:auto;
}

.page-header {
    border: 1px solid #ECECEC;
}

/* Контейнер навігації */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Site-nav */
.menu {
    background-color: var(--white-bgc);
}
/* Логотип */
.logo {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--logo-text);
    font-family: 'Raleway';
 
    font-weight: 700;
    font-size: 26px;
    line-height: 1,9;
    letter-spacing: 0.03em;
}



/* Флекс навігація*/

.page-header__container {
    display: flex;
    align-items: center;
   
   
}

.nav-menu {
    display: flex;
    align-items: center;
   
}

.nav-menu__list {
    display: flex;
    margin-left: 93px;
}


/* Маржин вправо */
.nav-menu__list .nav-menu__item  {
    margin-right: 50px;
}

/* Убрати відступ */

.nav-menu__list li:nth-child(3) {
    margin-right: 0%;
}



/* Навігація */
.nav-menu .nav-menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color);
    transition: color var(--transition-dur-n-fuc);


    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



/* Ховер навігації */
.nav-menu .nav-menu__link:hover , .nav-menu .nav-menu__link:focus  {
 color:var(--Blue-color)
}

.nav-menu__list .nav-menu__link--current {
    color: var(--Blue-color);
    position: relative;
    
}

.nav-menu__list .nav-menu__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--Blue-color);
    border-radius: 2px;

}




/* Контакти */
.contakts-list  {
  display: flex;
  margin-left: auto;
}

.contakts-list__item + .contakts-list__item {
    margin-left: 50px;
}


.contakts-list__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--text-color);
    transition: color var(--transition-dur-n-fuc);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.contakts-list .contakts-list__link:hover ,.contakts-list .contakts-list__link:focus {
    color: var(--Blue-color);
    }


 .contacts-list__svg {
    display: inline-block;
    margin-right: 10px;
    fill: var(--text-color);
     
 }
 
 .contacts-list__svg {
     fill: currentColor;
    }
 




/* Герой */

.hero {
    text-align: center;
    background-color: var(--bgc-hero-title);
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgchero.jpg);
    background-color: #C4C4C4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.hero__title {
    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
   
    
    color: var(--white-bgc);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* Головна кнопка */
.hero__btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px ;
    min-width: 216px;
    transition:background-color var(--transition-dur-n-fuc) ;
    background-color:var(--Blue-color) ;
    color: var(--white-bgc);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
  
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.hero1-btn:hover {
    background-color: var(--bgc-btn-act);
    color: var(--white-bgc);
}




/* Переваги */

.features-list__item {
    margin-right: 30px;
}
 .features-list__item:last-child {
    margin-right: 0%;
}



.features__thumb{
    margin-bottom: 30px;
}

.features__thumb::before {
    display: block;
    content: "";
    height: 120px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bgc-comands);
    border-radius: 4px;
}

.features__thumb--icon-antena::before {
    
    background-image: url(../images/antenna.svg);
}

.features__thumb--icon-clock::before {
    background-image: url(../images/clock.svg);
}

.features__thumb--icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.features__thumb--icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}


.features__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__descr {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



/*  Види робот */


/* .work-list__item {
    margin-right: 30px;
}
 .work-list__item:last-child {
    margin-right: 0%;
} */

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-list__img__pozition {
    position: relative;
}

.work-list__overlay {
    position: absolute;
    bottom: 0;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 70px;
    width: 100%;
    margin: 0;
    

   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-bgc);
    background-color: rgba(47, 48, 58, 0.8);
    
    
}


.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Наша команда  */

.employes-list {
    display: flex;
    justify-content: space-between;
}

.bgc-team {
    background-color:var(--bgc-comands);
}

/* Заголовок команди */
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Ім'я працівників */
.employes-list__title {
    margin: 0;
    margin-bottom: 10px;
    
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}
/* Ким працюють */
.employes-list__text {
    margin-top: 0%;
    margin-bottom: 16px;
    
    
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    }


    .employes-list__card {
    padding-top: 30px;
    padding-bottom: 30px;   
    background-color: var(--white-bgc);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    }


    /* Іконки соц мереж */

    /* .employes-list__card>.list {
        justify-content: center;
    } */

    .socials {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .socials__item {
        width: 44px;
        height: 44px;
        margin-right: 10px;
       
    }
    /* Іконки соц мереж в команді */
    .socials__link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color:  #AFB1B8;
        background-color: var(--white-bgc);
        border-radius: 50%;
        transition:  background-color var(--transition-dur-n-fuc);
    }


    /* Ховер для іконок */
    .socials__link:hover  {
        background-color: var(--Blue-color);
    }

    

    .socials__item:last-child{
        margin-right: 0;
    }

    .socials__icon {
        fill: currentColor;
        transition: fill var(--transition-dur-n-fuc);
    }

    .socials__link:hover .socials__icon {
        
        fill: var(--white-bgc);
    }


    /* Секція кліенти */

    .clietsize {
        width: 170px;
        height: 92px;
    }

    .box-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        color: #AFB1B8;
        transition: border-color var(--transition-dur-n-fuc);
    }

    .icon {
        fill: currentColor;
        transition: fill var(--transition-dur-n-fuc);
       }

    .box-link:hover {
        border-color: var(--Blue-color);
    }

   .box-link:hover .icon {
    fill: var(--Blue-color);
   }

/* Флекс для кнопок портфолио */

.flex-btn {
    display: flex;
    justify-content: center;
    
}

.btn-f{
    margin-right: 8px;
}

.btn-f:last-child{
    margin-right: 0;
}





/* Оформлення Портфоліо */

.flex-btn {
    margin-top: 0;
    margin-bottom: 50px;
    
}

.btn {
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--bgc-comands);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: color var(--transition-dur-n-fuc) , background-color var(--transition-dur-n-fuc) , box-shadow var(--transition-dur-n-fuc);
}

.btn:hover {
    background-color: var(--Blue-color);
    color: var(--white-bgc);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Флекс для прикладів */

.examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
}

.examples-flex {
    
    margin-right: 30px;
    margin-bottom: 30px;
}



.examples-flex:nth-child(3n){
margin-right: 0;
}

.examples-flex:nth-last-child(-n+3){
    margin-bottom: 0;
}

.ex-link {
    display: block;
    transition: box-shadow var(--transition-dur-n-fuc);

}


.ex-link:hover , .ex-link:focus {
    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.ex-div {
        padding: 20px 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEEEEE;
    border-left-width: 1px;
    border-left-style: solid;
    border-inline-start-color: #EEEEEE;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #EEEEEE;
}

/* Оверлей для портфоліо */


.portfolio-card-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-portfolio {
    position: absolute;
    margin: 0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    padding: 63px 24px;
    overflow: auto;
    transition: transform var(--transition-dur-n-fuc);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color:var(--portfolio-overlay) ;
    color: #FFFFFF;
}



.ex-link:hover .overlay-portfolio ,
.ex-link:focus .overlay-portfolio {
    transform: translate(0,0);
}


.ex-title {
    margin-top: 0;
    margin-bottom: 4px;
   

    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.ex-text {
   margin: 0%;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
}




/* Флекс для футера */


.footer {
       
    display: flex;
    margin-right: auto;
    margin-left: auto;
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bgc-hero-title);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

    .adress__list {
        margin-right: 70px;
        display: flex;
        flex-direction: column;
        gap:9px;
    }
    /* Footer */


.footer-logo {
    display: block;
    
    margin-bottom: 20px;

    color: var(--white-bgc);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.address {
    font-style: normal;
}

.address__link {
    padding-bottom: 9px;
    color: var(--white-bgc);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition:color var(--transition-dur-n-fuc);
}

.footer__link {
  
    color: var(--color-adrsf);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition:color var(--transition-dur-n-fuc);
} 


.address__link:hover ,.footer__link:hover {
    color: var(--Blue-color);
    }


/*  */

.footer-social-container__text {
    margin-top: 0;
    margin-bottom: 20px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--white-bgc);
}

.footer-social-container__item {
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
}


.addressfooter-social-container__item:last-child {
    margin-right: 0%;
}

.footer-social-container__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
    color: var(--white-bgc);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-dur-n-fuc);
    
}

.footer-social-container__link:hover {
    background-color: var(--Blue-color);
}

.footer-social-container__svg {
    fill: currentColor;
}



  /* Форма в футері */

  .footer-form {
    display: flex;
    align-items: flex-end;
    margin-left: 93px;
  }

  .footer-form__text {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-bgc);
  }

  .footer-form__input {
    min-width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color:var(--white-bgc) ;
    transition: border-color var(--transition-dur-n-fuc);
    }

  .footer-form__input:focus {
    outline: none;
    border-color: var(--Blue-color);
  }

  /* Кнопка в футері */

  .footer-form__btn {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding: 10px 62px 10px 28px;
    background-color: var(--Blue-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white-bgc);
    cursor: pointer;
    transition: background-color var(--transition-dur-n-fuc);
  }

  .footer-form__btn:hover , .footer-form__btn:focus {
    background-color: var(--bgc-btn-act);
  }

  .footer-form__btn::after {
    top:50%;
    transform: translateY(-50%);
    margin-left: 10px;
    position: absolute;
    content:'';
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    fill: var(--white-bgc);
  }




/* Бекдроп та модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--backdrop-color);
    transition: opacity var(--transition-dur-n-fuc), visibility var(--transition-dur-n-fuc);

}

.modal-window {
    position: absolute;
    top:50%;
    left: 50%;
    padding: 40px;
    transform:translate(-50%, -50% );
    width: 528px;
    height: 581px;
    background-color:var(--white-bgc);



}


.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--white-bgc);
    border: 1px solid var(--icon-btn-border);
    border-radius: 50%;
    cursor: pointer;
    transition: fill var(--transition-dur-n-fuc);
  }

  .modal-icon-close:hover {
    fill: var(--Blue-color);
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
 

  /* Form */
  .modal-form {
    display: flex;
    flex-direction: column;
    
  }

  .form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
  }


  .form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color);
  }


  .form-control {
    position: relative;
   margin-bottom: 10px;
  }


  .form-input {
    width: 100%;
    height: 40px;
    padding:12px 42px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-dur-n-fuc);
  }

  .form-input:focus {
    border-color: var(--Blue-color);
  }


  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
  }

  .form-control:focus-within .form-icon {
    fill: var(--Blue-color);
  }


  .form-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    outline: none;

    color: rgba(117, 117, 117, 0.5);
  }

  .form-textarea:focus {
    border-color: var(--Blue-color);
  }

  .chekbox-input {
    appearance: none;
  }

  .chekbox-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    /* identical to box height, or 171% */

    letter-spacing: 0.03em;

    color: var(--text-color);

  }

  .chekbox-label::before{
    content: '';
    background-image: url(../images/Vector.svg);
    margin-right: 10px;
    width: 16px;
    height: 15px;
    
  }

  


  .chekbox-input:checked + .chekbox-label::before {
    content: '';
    background-image: url(../images/icon-check.svg);
    margin-right: 10px;
    width: 16px;
    height: 15px;
  }


  .chekbox-link {
    color: var(--Blue-color);
    text-decoration: underline;
  }
 
  .modal-form-submit {
    min-width: 200px;
    align-items: center;
    align-self: center;
    padding:10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--Blue-color);
    color: var(--white-bgc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-dur-n-fuc) ;
    
  }

  .modal-form-submit:focus , .modal-form-submit:hover {
    background-color: var(--bgc-btn-act);
  }

